@import "tailwindcss";

@theme {
  --font-logo: "Special Elite", system-ui;
  --font-sans: "Poppins", sans-serif;
}

@layer utilities {
  .font-logo { font-family: var(--font-logo); font-weight: 900; font-style: normal;}
  .font-sans { font-family: var(--font-sans); }
}

:root {
  --bg: #ffffff;
  --text: #000000;
  --card-bg: rgba(255, 255, 255, 0.391);
  --border: #b4b4b4a3;
  --glass-bg: rgba(255, 255, 255, 0.391);
}

html[data-theme="dark"] {
  --bg: #00070C;
  --text: #ffffff;
  --card-bg: rgba(0, 7, 12, 0.6);
  --border: #212121;
  --glass-bg: rgba(0, 7, 12, 0.6);
}
