@import "tailwindcss";

@theme {
  --font-logo: "Special Elite", system-ui;
  --font-sans: "Poppins", sans-serif;
}

@layer utilities {
  .font-logo { font-family: var(--font-logo); font-weight: 900; font-style: normal;}
  .font-sans { font-family: var(--font-sans); }
}

:root {
  --bg: #ffffff;
  --text: #000000;
  --card-bg: rgba(255, 255, 255, 0.391);
  --border: #b4b4b4a3;
  --glass-bg: rgba(255, 255, 255, 0.391);
}

html[data-theme="dark"] {
  --bg: #00070C;
  --text: #ffffff;
  --card-bg: rgba(0, 7, 12, 0.6);
  --border: #212121;
  --glass-bg: rgba(0, 7, 12, 0.6);
}

/* ---------------- HEART BURST (LIKE CLICK) ---------------- */

@keyframes heart-burst {
  0% {
    transform: scale(0.1);
    opacity: 0.8;
  }
  100% {
    transform: scale(2.2);
    opacity: 0;
  }
}

.animate-heart-burst::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 9999px;
  background: rgba(25, 94, 119, 0.497);
  animation: heart-burst 600ms ease-out;
}

/* ---------------- DOUBLE TAP HEART POP ---------------- */

@keyframes heart-pop {
  0% {
    transform: scale(0.2);
    opacity: 0;
  }
  50% {
    transform: scale(1.3);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}


